@base: #f938ab;

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
//  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.y.axis.bottom .tick:last-child {
  display: none;
}

.dropdown-menu>li.selected {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.transaction-list .transaction-filter .form-inline {
  padding: 10px 0 10px 5px;
}

.transaction-list .transaction-filter .form-inline .form-group label {
  padding: 0 5px;
}

kbd.tag {
  margin-right: 5px;
  cursor: pointer;
}

kbd.tag:hover {
  color: #A6FF46;
}

.btn-add-transaction {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  padding: 0;
}

.transaction-table-container {
  height: 50%;
  overflow-y: auto;
}

.transaction-pagination {
  margin: 0;
}

.btn-edit:hover {
  background-color: black;
  color: white;
}

.arrow-add {
  font-size: 10px;
}

.balance-tooltip {
  color: #999999;
}

.x.axis:first-child {
  opacity: 0 !important;
}